.page-header
  %strong Sources

.wrapper
  = semantic_form_for(resource) do |f|
    = f.inputs
    = f.buttons

%table
  %thead
    %tr
      %th Path
      %th Date
  %tbody
    - collection.each do |resource|
      %tr
        %td= resource.path
        %td= time_ago_in_words resource.created_at