.page-header
  = filter(:default, :favorited)

  %strong Tracks
  = play_link(tracks_path(:search => params[:search]), :class => "button")
  = enqueue_link(tracks_path(:search => params[:search]), :class => "button")

.wrapper
  = semantic_form_for(:search, :url => collection_path, :method => :get) do |f|
    = f.inputs do
      = f.input :title_or_artist_name_or_release_name_like
      = f.submit "Search"

%table
  %thead
    %tr
      %th
      %th= sort_link(:title)
      %th= sort_link(:length)
      %th= sort_link(:created_at)
      %th
  %tbody
    - collection.each do |resource|
      %tr
        %td.number= resource.number
        %td.title
          = resource.title
          - if resource.artist.present?
            %small= link_to resource.artist.name, artist_path(resource.artist)
        %td.length= formatted_length resource.length
        %td.date= time_ago_in_words(resource.created_at)
        %td.actions
          = play_link(resource)
          = enqueue_link(resource)
          = favorite_link(resource)

= paginate(collection)