.page-header
  = navigation(:class => "pills pull-right", :namespace => :scope) do |n|
    - n.default link_to "All", releases_path
    - n.favorited link_to "Favorited", releases_path(:scope => :favorited)
  %strong Releases


.wrapper
  = semantic_form_for(@search, :url => collection_path) do |f|
    = f.inputs do
      = f.input :title_or_artist_name_or_release_name_like
      = f.submit "Search"

%table
  %thead
    %tr
      %th
      %th= sort_link(@search, :title)
      %th= sort_link(@search, :length)
      %th= sort_link(@search, :created_at)
      %th
  %tbody
    - collection.each do |resource|
      %tr
        %td.number= resource.number
        %td.title
          = resource.title
          %small= link_to resource.artist.name, artist_path(resource.artist)
        %td.length= formatted_length resource.length
        %td.date= time_ago_in_words(resource.created_at)
        %td.actions
          = play_link(resource)
          = favorite_link(resource)

= paginate(collection)