.page-header
  %h1 Artists

  = navigation(:class => :pills, :namespace => :scope) do |n|
    - n.default link_to "All", artists_path
    - n.favorited link_to "Favorited", artists_path(:scope => :favorited)

  = form_for(@search, :url => collection_path, :html => {:class => "form-stacked"}) do |f|
    %fieldset
      = f.label :name_like
      = f.text_field :name_like

%table
  %thead
    %tr
      %th Name
      %th Genres
      %th= sort_link(@search, :tracks_count)
      %th= sort_link(@search, :play_count)
      %th= sort_link(@search, :listeners)
      %th= sort_link(@search, :created_at)
      %th{:width => 120}
  %tbody
    - collection.each do |resource|
      %tr
        %td
          %span= link_to resource.name, resource
        %td= raw resource.genres.take(10).map { |genre| link_to genre.name, genre_artists_path(genre) }.to_sentence
        %td= resource.tracks_count
        %td= resource.play_count
        %td= resource.listeners
        %td= time_ago_in_words(resource.created_at)
        %td
          = play_button([resource, :tracks])
          = favorite_button(resource)

= paginate(collection)