= div_for(release) do
  .artwork
    .wrapper
      .image= image_tag((release.image_url.blank? ? "cd_case.png" : release.image_url), :witdh => 100, :height => 100)
      .meta
        .title= release.title
        .artist= release.compilation? ? "Various Artists" : link_to(release.artist.name, release.artist)
        .year= release.year
        %br
        = play_link([release, :tracks], :class => "button")
        = favorite_link(release, :class => "button")

  .tracks
    %table
      %tbody
        - release.tracks.map do |track|
          %tr
            %td.number= track.number
            %td.title
              = track.title
              %small= link_to track.artist.name, artist_path(track.artist)
            %td.length= formatted_length track.length
            %td.actions= favorite_link(track)