.page-header
  %h1 Releases
  = navigation(:class => :pills, :namespace => :scope) do |n|
    - n.default link_to "All", releases_path
    - n.favorited link_to "Favorited", releases_path(:scope => :favorited)

  = form_for(@search, :url => collection_path, :html => {:class => "form-stacked"}) do |f|
    %fieldset
      = f.label :name_like
      = f.text_field :name_like

%table
  %thead
    %tr
      %th Name
      %th= sort_link(@search, :tracks_count)
      %th= sort_link(@search, :created_at)
  %tbody
    - collection.each do |resource|
      %tr
        %td
          %span= link_to resource.name, resource
        %td= resource.tracks_count
        %td= time_ago_in_words resource.created_at

= paginate(collection)