.page-header
  %h1
    = resource.title
    %small= resource.artists.map(&:name).to_sentence

.row
  .span4
    %h3 Information
    = link_to image_tag((resource.image_url.blank? ? "cd_case.png" : resource.image_url), :witdh => 100, :height => 100), resource
    = link_to("&#9658;".html_safe, "#", :class => "btn success", "data-play-tracks" => resource.track_ids.to_json)
    = favorite_button(resource)

    %h3 Tracks
    %ol
      - resource.tracks.map do |track|
        %li
          - if resource.various_artists? and track.artist
            = link_to track.artist.name, artist_path(track.artist)
            \-
          = link_to track.title, "#", :id => dom_id(track), :class => "track", "data-play-tracks" => [track.id].to_json

  .span12
    %h2 Description
    - if resource.description_file
      %pre#description= Iconv.new('UTF-8', 'IBM437').conv(File.open(resource.description_file, "rb").read)
    - else
      %em No description


